naming:
  ClassNaming:
    excludes: &testFolders
      - '**/test/**'

build:
  maxIssues: 0

complexity:
  LongMethod:
    excludes: *testFolders
  CyclomaticComplexMethod:
    ignoreSimpleWhenEntries: true
    threshold: 11
  LongParameterList:
    functionThreshold: 12
    constructorThreshold: 12
  TooManyFunctions:
    thresholdInFiles: 20
    thresholdInClasses: 20
    thresholdInInterfaces: 20
    thresholdInObjects: 20
    thresholdInEnums: 20

performance:
  SpreadOperator:
    active: false

style:
  MaxLineLength:
    maxLineLength: 180
  ReturnCount:
    max: 3
  ThrowsCount:
    max: 3
